SERVER_IP=minecraft.server.com
MINECRAFT_VERSION=1.21
ADMIN=username1,username2
CENTER_BOT_NAME=command-center
DEBUG=1
AUTH_ANYWAYS=0
AUTH_INITIAL_DELAY_MS=1000
AUTH_LOGIN_DELAY_MS=1500
RECONNECT_DELAY_MS=10000
VIEW_DISTANCE=2
